<%- include('partials/html-head') %>

  <script>
    const clientData = <% - JSON.stringify(profileData) %>;
    console.log(clientData);
  </script>

  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="https://mdbgo.com/">
        <img
          src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Fjacmotors_logo--842243567787147902%2F&psig=AOvVaw0PH-FU1MlsNSIzlBH661Vd&ust=1700075186298000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCOCU4d-XxIIDFQAAAAAdAAAAABAD"
          height="18" alt="JAC team" loading="lazy" style="margin-top: -1px;" />
      </a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/users/errorless-stone/projects/1">The Name Game by JAC</a>
          </li>
        </ul>
        <!-- Left links -->

        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-link px-3 me-2" href="">
            Our Mission
          </button>
          <button type="button" class="btn btn-primary me-3"
            href="https://github.com/errorless-stone/name-game-thing/wiki#team-information">
            Meet the team
          </button>
          <a class="btn btn-dark px-3" href="https://github.com/errorless-stone/name-game-thing" role="button"><i
              class="fa fa-github" style="font-size:48px;color:purple"></i>
            <br></a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>

  <!-- Navbar -->






  <h1>The Name Game </h1>
  <h2>What is the name of this professor?</h2>

  <div class="container-fluid">

    <div class="row justify-content-center">

      <% for (var i=0; i< 1; i++ ) { %>
        <div class="col-md-2" id="<%=profileData[i].name%>">
          <img id="pic" class="pic card-img-top" src="<%=profileData[i].image %>" alt="Card image">
        </div>


        <% } %>


    </div>

    <div class="row justify-content-center" id="button-row">
      <% for (var i=0; i< 3; i++ ) { %>
        <button id="aBUTTON" type="button" class="btn btn-primary" style="max-width: 18rem">
          <%= profileData[i].name %>
        </button>
        <% } %>
    </div>

    <%- include('partials/script-libraries') %>
      <script src="public/scripts/nameGameScript.js"></script>
  </div>
  </body>

  </html>