<%- include('partials/html-head') %>

  <script>
    const clientData = <% - JSON.stringify(profileData) %>;
    console.log(clientData);
  </script>

  <h1>The Name Game </h1>
  <h2>What is the name of this professor?</h2>

  <div class="container-fluid">

    <div class="row justify-content-center">

      <% for (var i=0; i< 1; i++ ) { %>
        <div class="col-md-2" id="<%=profileData[i].name%>">
          <img id="pic" class="pic card-img-top" src="<%=profileData[i].image %>" alt="Card image">
        </div>


        <% } %>


    </div>

    <div class="row justify-content-center" id="button-row">
      <% for (var i=0; i< 3; i++ ) { %>
        <button id="aBUTTON" type="button" class="btn btn-primary" style="max-width: 18rem">
          <%= profileData[i].name %>
        </button>
        <% } %>
    </div>

    <%- include('partials/script-libraries') %>
      <script src="public/scripts/nameGameScript.js"></script>
  </div>
  </body>

  </html>
