<%- include('partials/html-head') %>

  <script>
    const clientData = <%- JSON.stringify(profileData) %>;
    console.log(clientData);
  </script>

  <h1>The Name Game </h1>
  <h2>What is the name of this professor?</h2>
  <h3>Your Score = <span id="score"></h3>

  <div class="container-fluid">

    <div class="row justify-content-center">

      <% for (var i=0; i< 1; i++ ) { %>

        <div class="col-md-2" id="<%=profileData[i].name%>">
          <img id="pic" class="pic card-img-top" src="<%=profileData[i].image %>" alt="The Name Game">
        </div>


        <% } %>


    </div>

    <div class="row justify-content-center" id="button-row">
        <div class="container-fluid d-flex justify-content-center" id="button-box">
        </div>
        <button id="btnOne" type="button" class="guessButton btn btn-primary" style="max-width: 18rem"> </button>
        <button id="btnTwo" type="button" class="guessButton btn btn-primary" style="max-width: 18rem"></button>
        <button id="btnThree" type="button" class="guessButton btn btn-primary" style="max-width: 18rem"></button>
    </div>

    <%- include('partials/script-libraries') %>
      <script src="public/scripts/nameGameScript.js"></script>
  </div>
  </body>

  </html>