<%- include('partials/html-head') %>

  <script>
    const clientData = <%- JSON.stringify(profileData) %>;
    console.log(clientData);
  </script>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2">
          Login
        </button>
        <button type="button" class="btn btn-primary me-3">
          Sign up for free
        </button>
        <a
          class="btn btn-dark px-3"
          href="https://github.com/mdbootstrap/mdb-ui-kit"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

<!-- Navbar -->






  <h1>The Name Game </h1>
  <h2>What is the name of this professor?</h2>

  <div class="container-fluid">

  <div class="row justify-content-center">
    
               <% for (var i=0; i< 1; i++ ) { %>
          <div class="col-md-2" id="<%=profileData[i].name%>" >
            <img id="pic" class="pic card-img-top" src="<%=profileData[i].image %>" alt="Card image">
          </div>
  
        
          <% } %>

            
    </div>

    <div class = "row justify-content-center" id="button-row">
      <% for (var i=0; i< 3; i++ ) { %>
          <button id="aBUTTON" type="button" class="btn btn-primary" style="max-width: 18rem"><%= profileData[i].name %></button>
        <% } %>
    </div>

    <%- include('partials/script-libraries') %>
    <script src="public/scripts/nameGameScript.js"></script>
  </div>
  </body>
  </html>
