<%- include('partials/html-head') %>

  <h1>The Name Game </h1>

  <div class="container-fluid">

  <div class="row justify-content-center">
    
            <% for (var i=0; i< 1; i++ ) { %>
          <div class="col-md-2" id="<%=profileData[i].name%>" >
            <img class="card-img-top" src="<%=profileData[i].image %>" alt="Card image">
            <div class="card-body">
              <%= profileData[i].name %>
            </div>
          </div>
  
        
          <% } %>

            
    </div>

    <div class = "row justify-content-center">
      <% for (var i=0; i< 3; i++ ) { %>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <%= profileData[i].fact %>
          </div>
        </div>
        <% } %>
    </div>

  </div>

<%- include('partials/script-libraries') %>
<script src="public/scripts/nameGameScript.js"></script>
  </body>
  </html>
